<!--About Me Giselle Fe 301215601 2/10/2022-->

<%- include('partials/header.ejs')%> 
<%- include('partials/navbar.ejs')%> 
  
<!--Main Content-->
  <main class="container"> 
    <div class="jumbotron">
      <h3 class="display-4"><%= title %> <a href="GiselleFeColls .pdf" target="_blank"><i class="fa-solid fa-file"></i></a> </h3>
     <div class="container"

     <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="container">
            <p>
              <h1>Giselle Fe</h1>
              When I was seven years old, I started studying music. 
              However, I have always been fascinated by other fields such as physics and mathematics. 
              This interest was because I grew up influenced by my grandfather. 
              He was an HVAC technician who piqued my curiosity about Mechanical Engineering. 
              So, the year I finished my music studies, I decided to start my degree in this field.
        
              During my university studies, I discovered different topics related to renewable energy that caught my attention therefore, 
              I took most of the elective courses at the Center for the Study of Renewable Energy Technologies, 
              which is one of the research departments of the faculty. 
             </p>
            </div>
        </div>
        <div class="col">
          <img src="images/Foto Giselle.jpeg" class="d-block w-100" alt="...">
          
        </div>
        </div>
    </div>
     
    
    </div>
  </main>

  <%- include('partials/bottom_nav.ejs')%> 
  <%- include('partials/footer.ejs')%> 
   