<!--Contatc Giselle Fe 301215601 2/10/2022-->

<%- include('partials/header.ejs')%> 
<%- include('partials/navbar.ejs')%>

<!--Main Content -->
<main class="container"> 
    <div class="jumbotron">
      <h3 class="display-4"> <%= title %> us! </h3>
      
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com ">
      </div>
     

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="8"></textarea>
      </div>
    
      
     
     
    
      
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>

<%- include('partials/bottom_nav.ejs')%> 
<%- include('partials/footer.ejs')%> 
   