<!--services Giselle Fe 301215601 2/10/2022-->

<%- include('partials/header.ejs')%> 
<%- include('partials/navbar.ejs')%>


<!--Main Content-->
<main class="container"> 
    <div class="jumbotron">
      <h1 class="display-4"> Welcome to <%= title %> page </h1>

<body>     
    
    <div class="container text-center">
        <div class="row g-2">
          <div class="col-6">
            <div class="p-3 border bg-light"><a href="https://gifcolls.github.io/Smash-Bug-Game/" target="_blank">Web App</div></a>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light"><a href="https://gifcolls.github.io/Smash-Bug-Game/" target="_blank">Mobile App</div></a>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light"><a href="https://gifcolls.github.io/Smash-Bug-Game/" target="_blank">Front-End</div></a>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light"><a href="https://gifcolls.github.io/Smash-Bug-Game/" target="_blank">Back-End</div></a>
          </div>
          <div class="row g-2">
            <div class="col-6">
              <div class="p-3 border bg-light"><a href="https://gifcolls.github.io/Smash-Bug-Game/" target="_blank">Web App</div></a>
            </div>
            <div class="col-6">
              <div class="p-3 border bg-light"><a href="https://gifcolls.github.io/Smash-Bug-Game/" target="_blank">Mobile App</div></a>
            </div>
            <div class="row g-2">
                <div class="col-6">
                  <div class="p-3 border bg-light"><a href="https://gifcolls.github.io/Smash-Bug-Game/" target="_blank">Web App</div></a>
                </div>
                <div class="col-6">
                  <div class="p-3 border bg-light"><a href="https://gifcolls.github.io/Smash-Bug-Game/" target="_blank">Mobile App</div></a>
                </div>
                
                <div class="row g-2">
                    <div class="col-6">
                      <div class="p-3 border bg-light"><a href="https://gifcolls.github.io/Smash-Bug-Game/" target="_blank">Web App</div></a>
                    </div>
                    <div class="col-6">
                      <div class="p-3 border bg-light"><a href="https://gifcolls.github.io/Smash-Bug-Game/" target="_blank">Mobile App</div></a>
                    </div>
                    <div class="row g-2">
                        <div class="col-6">
                          <div class="p-3 border bg-light"><a href="https://gifcolls.github.io/Smash-Bug-Game/" target="_blank">Web App</div></a>
                        </div>
                        <div class="col-6">
                          <div class="p-3 border bg-light"><a href="https://gifcolls.github.io/Smash-Bug-Game/" target="_blank">Mobile App</div></a>
                        </div>
        </div>
      </div>
    
   
<%- include('partials/bottom_nav.ejs')%> 
<%- include('partials/footer.ejs')%> 
 